<div class="content" flex fxLayout="row" fxLayoutGap="16px">
  <md-card flex fxFlex="95" class="mat-center-card">
    <md-card-header>
      <div md-card-avatar class="header-img"></div>
      <md-card-title>Wedding</md-card-title>
      <md-card-subtitle>September 2nd, 2017</md-card-subtitle>
    </md-card-header>
    <!--<a href="https://www.facebook.com/events/1674940372800773">-->
      <img md-card-image src="../../assets/images/luke-amanda.jpg">
    <!--</a>-->
    <md-card-actions align="center">
      <a md-button href="https://www.facebook.com/events/1674940372800773">FACEBOOK EVENT</a>
    </md-card-actions>
  </md-card>
</div>