<div class="content" flex fxLayout="row" fxLayoutGap="16px">
  <md-card flex fxFlex="90" class="mat-center-card">
    <md-card-header>
      <div md-card-avatar class="header-img"></div>
      <md-card-title>Registry</md-card-title>
      <md-card-subtitle>Honeymoon in Europe</md-card-subtitle>
    </md-card-header>
    <a href="https://www.honeyfund.com/wedding/LukeAndAmanda">
      <img md-card-image src="../../assets/images/honeyfund-logo.png">
    </a>
    <!--<md-card-content>
    </md-card-content>-->
    <md-card-actions align="center">
      <a md-button href="https://www.honeyfund.com/wedding/LukeAndAmanda">REGISTRY</a>
    </md-card-actions>
  </md-card>
</div>