<div class="content" flex fxLayout="row" fxLayoutGap="16px">
  <md-card flex fxFlex="100" class="mat-center-card">
    <md-card-header>
      <div md-card-avatar class="header-img"></div>
      <md-card-title>RSVP</md-card-title>
      <md-card-subtitle>Feat. Meal Options & Song Request</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/images/rsvp.png">
    <md-card-content>
      <md-card class="mat-child-card" *ngFor="let guest of party">
        <md-card-header class="mat-header-primary">
          <div md-card-avatar class="header-img"></div>
          <md-card-title>{{guest.firstName}} {{guest.lastName}}</md-card-title>
          <md-card-subtitle>Answers Autosave (Neat)</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-grid-list cols="1" rowHeight="50px">
            <md-grid-tile colspan="1" rowspan="1" class="first">
              <md-icon class="small-icon" svgIcon="icons:rsvp"></md-icon><span md-line>&nbsp;RSVP</span>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="1">
              <md-slide-toggle [color]="accent" [(ngModel)]="guest.rsvp" (change)="saveRsvp(guest)">
                {{guest.rsvp===true ? 'Going' : 'Not Going'}}
              </md-slide-toggle><span md-card-avatar [class]="guest.rsvp ? 'rsvpYes' : 'rsvpNo'"></span>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="1" class="first" [hidden]="!guest.rsvp">
              <md-icon class="small-icon" svgIcon="icons:dinner"></md-icon><span md-line>Meal Option</span>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="2" [hidden]="!guest.rsvp">
              <md-radio-group [(ngModel)]="guest.mealOption" (change)="saveRsvp(guest)">
                <md-radio-button value="Braised Beef Shortrib">
                  Braised Beef Shortrib
                </md-radio-button>
                <md-radio-button value="Chicken Marsala">
                  Chicken Marsala
                </md-radio-button>
                <md-radio-button value="Vegetable Lasagna">
                  Vegetable Lasagna
                </md-radio-button>
              </md-radio-group>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="1" class="first" [hidden]="!guest.rsvp">
              <md-icon class="small-icon" svgIcon="icons:music"></md-icon><span md-line>Choose a Tune</span>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="1" [hidden]="!guest.rsvp">
              <md-input-container>
                <input mdInput placeholder="Request a Song" [(ngModel)]="guest.requestedSong" (change)="saveRsvp(guest)">
              </md-input-container>
            </md-grid-tile>
          </md-grid-list>
        </md-card-content>
      </md-card>
    </md-card-content>
    <md-card-actions align="center">
      <button md-button (click)="oldSave()">Save Anyways</button>
    </md-card-actions>
  </md-card>
</div>