<div fxLayout="column" fxFlex>

  <md-toolbar color="primary">
    <h1>{{title}}</h1>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-icon-button [hidden]="sideNavOpened" [mdMenuTriggerFor]="collapsedMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav [mode]="sideNavMode" [opened]="sideNavOpened" class="mat-sidenav">

      <md-tab-group>
        <md-tab label="Wedding">
          <md-nav-list>
            <!--<md-list-item *ngFor="let page of pages">-->
            <md-list-item *ngFor="let page of pages" routerLink="{{page.routerLink}}" routerLinkActive="{{page.routerLinkActive}}">
              <md-icon svgIcon="icons:{{page.icon}}" class="avatar"></md-icon>
              <span>{{page.name}}</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="My Party">
          <md-nav-list>
            <md-list-item *ngFor="let g of party" (click)="getGuestDetails(g)" [ngClass]="{active: g===this.guest}">
              <md-icon svgIcon="icons:party" class="avatar"></md-icon>
              <span>{{g.firstName}} {{g.lastName}}</span>
            </md-list-item>
            <md-list-item [hidden]="this.isAuthorized">
              <md-icon svgIcon="icons:login" class="avatar"></md-icon>
              <span>Login</span>
            </md-list-item>
            <md-list-item [hidden]="!this.isAuthorized">
              <md-icon svgIcon="icons:login" class="avatar"></md-icon>
              <span>Logout</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
  <md-menu #collapsedMenu x-position="before">
      <button md-menu-item *ngFor="let page of pages" routerLink="{{page.routerLink}}" routerLinkActive="{{page.routerLinkActive}}">
        <md-icon svgIcon="icons:{{page.icon}}" class="avatar-menu"></md-icon>
        {{page.name}}
      </button>
  </md-menu>