<span md-dialog-title>Forgot Password</span>
<!--<div md-dialog-content>Using Facebook</div>-->
<!-- facebook button -->
<div md-dialog-content>(hey it happens)</div>
<!-- manual login -->
<md-input-container class="example-full-width">
  <input mdInput class=".mat-input-container" #email type="email" placeholder="Email" [(ngModel)]="guest.email">
</md-input-container>
<div md-dialog-actions>
  <button md-button (click)="goBack()">Back</button>
  <button md-button (click)="resetPassword(email.value)">Reset Password</button>
</div>