<span md-dialog-title>Forgot Password</span>
<!--<div md-dialog-content>Using Facebook</div>-->
<!-- facebook button -->
<div md-dialog-content>(it happens)</div>
<md-progress-bar
    [hidden]="!isQuery"
    color="accent"
    mode="query">
</md-progress-bar>
<!-- manual login -->
<md-input-container class="example-full-width">
  <input mdInput class=".mat-input-container" #email type="email" placeholder="Email" [(ngModel)]="guest.email" (change)="trim(email)" [formControl]="emailForgotFormControl">
    <md-error *ngIf="emailForgotFormControl.hasError('required')">
      This field is required
    </md-error>
    <md-error *ngIf="emailForgotFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailForgotFormControl.hasError('emailInvalid')">
      This email address is not registered
    </md-error>
</md-input-container>
<div md-dialog-actions>
  <button md-button (click)="goBack()">Back</button>
  <button md-raised-button color="accent" (click)="resetPassword(email.value)" [disabled]="!checkResetFields() && !isClicked">Reset Password</button>
</div>