<div class="content" flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutGap="16px">
  <md-card flex fxFlex="48" class="mat-center-card">
    <md-card-header>
      <div md-card-avatar class="header-img"></div>
      <md-card-title>Invitation</md-card-title>
      <md-card-subtitle>Details</md-card-subtitle>
    </md-card-header>
    <!--<a href="https://www.facebook.com/events/1674940372800773">-->
      <img md-card-image src="../../assets/images/invitations.png">
    <!--</a>-->
    <md-card-actions align="center">
      <a md-button href="http://www.oshkoshwaterfronthotel.com/">HOTEL ACCOMMODATIONS</a>
    </md-card-actions>
  </md-card>
  <md-card flex fxFlex="48" class="mat-center-card">
    <md-card-header>
      <div md-card-avatar class="header-img"></div>
      <md-card-title>Invitation</md-card-title>
      <md-card-subtitle>Directions</md-card-subtitle>
    </md-card-header>
    <!--<a href="https://www.facebook.com/events/1674940372800773">-->
      <img md-card-image src="../../assets/images/registry-directions.png">
    <!--</a>-->
    <md-card-actions align="center">
      <a md-button href="http://www.becketsrestaurant.com/">BECKETS</a>
    </md-card-actions>
  </md-card>
</div>