
<span md-dialog-title>Login</span>
<div md-dialog-content align="center">
  <p>Using Facebook</p>
  <!-- facebook button -->
  <button md-button (click)="loginWithFacebook()" class="btn-facebook">
    <md-icon svgIcon="icons:facebook" class="small-icon"></md-icon> Login with Facebook
  </button>
  <p>-- or do it this way --</p>
</div>
<!-- manual login -->
<md-input-container>
  <input mdInput class=".mat-input-container" #email type="email" placeholder="Email">
</md-input-container>
<md-input-container>
  <input mdInput class=".mat-input-container" #password type="password" placeholder="Password" minlength="8">
</md-input-container>
<div md-dialog-actions>
  <md-select placeholder="More Options" (change)="getDialog($event)">
    <md-option value="forgot">
      Forgot Password
    </md-option>
    <md-option value="profile">
      Create Account
    </md-option>
  </md-select>
 
  <button md-raised-button color="accent" (click)="loginCustom(email.value, password.value)">Login</button>
</div>