
<span md-dialog-title>Login</span>
<div md-dialog-content align="center">
  <p>Using Facebook</p>
  <!-- facebook button -->
  <button md-button (click)="loginWithFacebook()" class="btn-facebook">
    <md-icon svgIcon="icons:facebook" class="small-icon"></md-icon> Login with Facebook
  </button>
  <p>-- or do it this way --</p>
</div>
<!-- manual login -->
<md-input-container>
  <input mdInput class=".mat-input-container" #email type="email" placeholder="Email" (change)="trim(email)" [formControl]="emailFormControl">
  <md-error *ngIf="emailFormControl.hasError('required')">
    This field is required
  </md-error>
  <md-error *ngIf="emailFormControl.hasError('pattern')">
    Please enter a valid email address
  </md-error>
</md-input-container>
<md-input-container>
  <input mdInput class=".mat-input-container" #password type="password" placeholder="Password" (change)="trim(password)" [formControl]="passwordFormControl">
  <md-error *ngIf="passwordFormControl.hasError('required')">
    This field is required
  </md-error>
  <md-error *ngIf="passwordFormControl.hasError('minlength')">
    Password must be 8 or more characters
  </md-error>
</md-input-container>
<div md-dialog-actions>
  <md-select placeholder="More Options" (change)="getDialog($event)">
    <md-option value="forgot">
      Forgot Password
    </md-option>
    <md-option value="profile">
      Create Account
    </md-option>
  </md-select>
 
  <button md-raised-button color="accent" [disabled]="checkLoginFields()" (click)="loginCustom(email.value, password.value)">Login</button>
</div>